#picture {
    width: 905px;
    height: 430px;
}

body {
    text-align: center;
    font-family: 'Original Surfer', cursive;
}

#marqueeStyle {
    background-color: #F4A896;
    font-family: 'Original Surfer', cursive;
}

.nav navbar-nav {
    font-family: 'Original Surfer', cursive;
}

.headings {
    font-family: 'Original Surfer', cursive;
}

.line {
    width: 600px;
    height: 20px;
    background-color: #358597;
    margin-left: 250px;
}

.container {
    text-align: center;
}

.map {
    width: 600px;
}

#heading1-2 {
    font-family: 'Original Surfer', cursive;
    color: #F4A896;
}

#campus {
    font-family: 'Original Surfer', cursive;
    color: #F4A896;
    text-align: center;
}

#heading3 {
    font-family: 'Original Surfer', cursive;
    color: #358597;
}

#myNavbar {
    position: sticky;
    top: 0px;
    z-index: none;
}

#menu {
    font-family: 'Original Surfer', cursive;
    padding: 5px;
    font-size: 20px;
}

.navbar-brand {
    font-family: 'Original Surfer', cursive;
}

.image {
    text-align: center;
}

.heading-5 {
    color: #358597;
    font-size: 20px;
    font-family: 'Original Surfer', cursive;
}

.heading-4 {
    font-size: 25px;
}

.campus-text {
    font-size: 15px;
    color: #F4A896;
    font-family: 'Original Surfer', cursive;
}

#image {
    margin-left: 320px;
}

#image2 {
    width: 100%;
    width: 500px;
    margin-left: 320px;
}

#achievementsID {
    padding-bottom: 10px;
}

.movie-head {
    font-size: 20px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    padding: 5px;
    font-family: 'Original Surfer', cursive; 
    border-radius: 10px;

}

.movie-head i{
    float: right
}

#achievements{
  font-family: 'Original Surfer', cursive;  
      color: #F4A896;
}

#school-achievement1{
   font-family: 'Original Surfer', cursive; 
      color: #358597;
}

#school-achievement2{
   font-family: 'Original Surfer', cursive; 
      color: #358597;
}
